.heading {
	width: 100%;
	text-align: center;
	margin: 20px 5px;
	opacity: 0.85;
}


/* Text Area - with Div */
.textarea-outer {
	width: 100vw;
	margin: 0px 5px;	
}

@media(min-width: 776px) { /* for large devices fix width */
	.textarea-outer {
		width: 700px;
		margin: auto;
	}
}

#draw-area {
	width: 100%;
	height: 30px;
	background-color: #fff7e5;
	margin: 2px 0;
	padding-left: 5px;
	padding-right: 12px;

	font-size: 12px;
	line-height: 2;
}

#draw-url-input {
   margin-right: 5px;
   height: 22px;
   width: 200px;
   margin-top: 3px;
}

#data-url-btn {
	font-size: 10px;
	margin-right: 12px;
	background-color: #eee;
}

.disabled {
	display: none;
}

#text-disp-div {
    margin-top: 10px;
    padding: 4px 6px 4px 6px;
    /* border: 1px solid #cccccc; */
}

#textarea-div {
	resize: none;
	width: 100%;
    min-height: 240px;
    max-height: 240px;
    padding: 4px 6px 4px 6px;
    
    background-color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
       -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
         -o-transition: border linear 0.2s, box-shadow linear 0.2s;
            transition: border linear 0.2s, box-shadow linear 0.2s;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 0px;
    overflow:auto;
}
#textarea-div:focus {
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */

    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

/* Allows bootstrap class="btn-group" to be properly responsive */
#textarea-icon-group .btn-group {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 3px;
}
#textarea-icon-group .btn-group:last-child {
    margin-right: 0;
}

#textarea-icon-group{
  background-color: #fbfbfb;
  border-bottom: 2px solid #cccccc;
}

#textarea-icon-group .btn-group .btn{
  font-family: 'Times New Roman';
  font-size: 15px;
  line-height: 1.2;	
  background-color: #fbfbfb;
  border-radius: 0px;
  border: 1px solid rgba(200,150,200, 0.4);
  padding: 3px 7px;
  color: #555;
}
#textarea-icon-group .btn-group.float-right{
  float: right;
}
/* Allows <i class="textarea-div-i-xxx" /> */
[class^="textarea-i-"],
[class*=" textarea-i-"] {
    display: inline-block;
    width: 20px;
    height: 0px; /* don't know how it works! To avoid pick icon arrow dropdown button & {} being small */
    margin-top: 1px;
    
    vertical-align: text-top;
    
}

/* The individual RTA icons */
.textarea-i-check-square-o {
  color: green;
}

hr{
  margin: 16px 15px;
  border: 1px solid rgba(200,200,200,0.5);
}



.inserted-image {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  
}


.code {
	display: block;
	padding: 9.5px;
	margin: 10px 0;
	font-size: 13px;
	color: #333;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border-radius: 4px;
	white-space: pre-wrap;
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.textarea-footer {
	margin-top: 3px;
	overflow: hidden;
}

.textarea-footer button {
	float: right;
}

