.heading {
	width: 100%;
	text-align: center;
	margin: 20px 5px;
	opacity: 0.85;
}


/* Text Area - with Div */
.textarea-outer {
	width: 100vw;
	margin: 0px 5px;	
}

@media(min-width: 776px) { /* for large devices fix width */
	.textarea-outer {
		width: 700px;
		margin: auto;
	}
}

#text-disp-div {
    margin-top: 10px;
    padding: 4px 6px 4px 6px;
    /* border: 1px solid #cccccc; */
}

#textarea-div {
	resize: none;
	width: 100%;
    min-height: 240px;
    max-height: 240px;
    padding: 4px 6px 4px 6px;
    
    background-color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
       -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
         -o-transition: border linear 0.2s, box-shadow linear 0.2s;
            transition: border linear 0.2s, box-shadow linear 0.2s;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 0px;
    overflow:auto;
}
#textarea-div:focus {
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */

    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

/* Allows bootstrap class="btn-group" to be properly responsive */
#textarea-icon-group .btn-group {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 3px;
}
#textarea-icon-group .btn-group:last-child {
    margin-right: 0;
}

#textarea-icon-group{
  background-color: #fbfbfb;
  border-bottom: 2px solid #cccccc;
}

#textarea-icon-group .btn-group .btn{
  background-color: #fbfbfb;
  border-radius: 0px;
  border: 1px solid rgba(200,150,200, 0.4);
  padding: 3px 7px;
  color: #555;
}
#textarea-icon-group .btn-group.float-right{
  float: right;
}
/* Allows <i class="textarea-div-i-xxx" /> */
[class^="textarea-i-"],
[class*=" textarea-i-"] {
    display: inline-block;
    width: 20px;
    height: 0px; /* don't know how it works! To avoid pick icon arrow dropdown button & {} being small */
    margin-top: 1px;
    
    vertical-align: text-top;
    
}

/* The individual RTA icons */
.textarea-i-check-square-o {
  color: green;
}

hr{
  margin: 16px 15px;
  border: 1px solid rgba(200,200,200,0.5);
}



.inserted-image {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  
}


.code {
	display: block;
	padding: 9.5px;
	margin: 10px 0;
	font-size: 13px;
	color: #333;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border-radius: 4px;
	white-space: pre-wrap;
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.textarea-footer {
	margin-top: 3px;
	overflow: hidden;
}

.textarea-footer button {
	float: right;
}







/* CSS for paintangular - Copied */
#main-layout {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	background-color: rgba(255,255,255,0.9);
	z-index: 500;
	overflow-y:auto;
    overflow-x:hidden;

    opacity: 0; /* transparent just for transition effect when opened */
	visibility: hidden; /* defulat hidden - changed when clicked on paint */
	transition: visibility 0.3s, opacity 0.3s linear;
}

.paint-open {
	visibility: visible !important;
	opacity: 1 !important;
}

#paint-layout {
	width: 100%; /* mobiles, o/w 750px */
	padding: 10px 0px;
	margin: 0 auto;
	margin-top: 40px;
	border: 1px solid rgba(200,200,200, 0.9);
	z-index: 501;
	background-color: rgba(255,255,255, 1);
}

.paint-footer {
	width: 95%; /* mobiles */
	margin: 0 auto;
	margin-top: 10px;
	z-index: 501;
	background-color: rgba(255,255,255, 1);
	overflow: hidden;
	padding-right: 10px;
}

.paint-footer button {
	float: right;
	margin-right: 5px;
}

#paint {
	padding-top: 10px;
	overflow: hidden;
}


#sketch {
	border: 2px solid gray;
	float: left;
	width: 95%;
	height: 340px;
	margin: 0px 10px;
	position: relative; /* for the absolute layout of tmp_canvas */
}

.resize-div {
	height: 10px;
	background-color: #e5e5e5;
	cursor: n-resize;
	width: 100%;
	position: absolute;
	bottom: 0px;
}

@media (min-width: 767px) { /* Non mobiles */
	
	#paint-layout {
		width: 750px;
	}

	#paint {
		margin-top: 10px;
		border-top: 1px solid #e5e5e5;
	}

	#sketch {
		width: 588px;
	}
}

.btn-group .btn + .btn  {
	margin-left: 0px; /* overwrite bootstrap -1px */
}

.btn-group .btn {
	border-radius: 0px !important; 
}

#tmp_canvas {
	position: absolute;
	left: 0px; 
	top: 0px;
	cursor: crosshair;
}

#tools-panel {
	padding: 2px 10px;
	border-radius: 4px;
	border: 1px solid #e5e5e5;;
	margin-bottom: 10px;
}

#tools-panel .btn-group {
	margin: 0 auto;
	display: block;
	background-color: #fafafa;
	overflow: auto;
	padding: 2px 4px;
}


#choose-size {
	display: block;
	margin-top: 5px;
	margin-bottom: 10px;
}

#clear-btn {
	display: none;
	margin-left: 15px;
}

#clear-btn-mobile {
	display: inline-block;
	margin-left: 20px;
}

#clear-btn .btn {
	background-color: white !important;
	border: 1px solid rgba(200,200,200,0.7);
}

#clear-btn-mobile .btn {
	background-color: white !important;
	border: 1px solid rgba(200,200,200,0.7);
}

#choose-size .title {
	font-weight: bold;
	color: rgba(100,100,100, 0.8);
	font-style: italic;
	font-size: 13px;
	margin-right: 5px;
	margin-left: 10px;
	text-align: center;
	display: inline-block; /* mobile */

}

#choose-size .radio-group {
	display: inline-block; /* mobile */
	width: 30px;
	margin: 0 auto;
}

@media (min-width: 768px) { /* Non Mobiles */
	#clear-btn {
		display: inline-block;
	}

	#clear-btn-mobile {
		display: none;
	}

	#tools-panel {
		float: left;
		border: 0px;
	}

	#tools-panel .btn-group {
		width: 90px;
	}

	#choose-size {
		width: 90px;
		margin-top: 20px;
	}

	#choose-size .title {
		display: block;
		margin-bottom: 5px;	
		margin-left: 0px;
	}

	#choose-size .radio-group {
		display: block;
	}


}




#tools-panel .btn-group .btn{
	background-color: #fafafa;
}


#color-panel {
	margin-left: 20px;
	display: inline-block;
}

@media (max-width: 767px) {
	#color-panel {
		max-width: 210px;
	}
}


#color-panel .btn {
	width: 30px;
	height: 25px;
	border: 1px solid rgba(200,200,200,0.8);
}


#paint-undo-redo {
	display: inline-block;
	margin-left: 30px;
}

#paint-clear {
	margin-left: 30px;
	
}

#text_tool {
    position: absolute;
    border: 1px dashed black;
    outline: 0;
    display: none;
    
    padding: 4px 8px; 
    font: 14px;
    overflow: hidden;
    white-space: nowrap;
    background-color: transparent;
}
